<%-include('./partials/header.ejs')%>
<h2 class="sub-title justify-content-center d-flex">
  <%-user.username%>'s CART
</h2>
<div class=" cart-list ">
  <%let total=0%>

    <div class="cart-table">
    <table class="table table-striped table-bordered ">
        <thead>
          <tr>
            <th>Item</th>
            <th>Item name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
            <%user.cart.forEach((item)=>{%>

           <%total=total+parseInt(item.price)%>
          <tr>
            <td><img class="cart-image"src="<%-item.image%>" alt=""></td>
            <td><%-item.name%></td>
            <td><%-item.price%>$</td>
          </tr>
        <%})%>

        </tbody>
      </table>
      <button class="place-order btn btn-success float-right">
        PLACE ORDER
      </button>
    </div>
   

    <div class="price-details ">
      <div class="price-details-container    ">
        <div><h2 class=" d-flex justify-content-center">Price Details</h2></div>
   
        <div class="d-flex flex-row justify-content-between">
          <div class="d-flex justify-content-start"><span> items(<%-user.cart.length%>)</span></div>
          <div class="d-flex justify-content-end"><span>   <%-total%></span></div>
        </div>
           
        <div class="d-flex flex-row justify-content-between">
          <div class="d-flex justify-content-start"><span> Delivery Fee</span></div>
          <div class="d-flex justify-content-end"><span>   FREE</span></div>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <div class="d-flex justify-content-start"><span> TOTAL</span></div>
          <div class="d-flex justify-content-end"><span>   <%-total%></span></div>
        </div>
      
        
      </div>
    </div>

</div>
